.event_modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.event_modal_content {
    width: 500px;
    background-color: #fff;
}

.event_modal_header .event_modal_footer {
    padding: 10px;
}

.event_modal_title {
    margin: 0;
}

.event_modal_body {
    padding: 10px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    
}