.container {
    max-width: 75% !important;
    min-height: 300px;
    /* margin: 60px auto; */
}

.event_modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.event_modal_content {
    width:500px;
    max-width: 75% !important;
    background-color: #fff;
}

.event_modal_header {
    padding: 10px;
}

.event_modal_title {
    margin: 0;
    padding: 10px;
    text-align: center;
}

.event_modal_body {
    padding: 10px 10px 0px 10px;
    font-weight: bold;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.event_modal_footer {
    padding: 10px;
    text-align: right;
}

.event_modal_single_entry {
    padding: 10px;
    font-weight: normal;
}

.button {
    padding: 2px 10px;
    margin-right: 10px;
}

#choose_slot_for_visitation {
    text-decoration: underline;
}

#choose_slot_for_visitation:hover {
    background-color: #30cfd0;
    cursor: pointer;
}

#change_meeting {
    text-decoration: underline;
}

#change_meeting:hover {
    background-color: #30cfd0;
    cursor: pointer;
}